* {
    box-sizing: border-box;
}

dialog {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: fadeIn .3s both;
}

dialog::backdrop {
    background-color: #0000004D;
}

.modal[open] {
    display: flex;
    visibility: visible;
}

.fade-out {
    animation: fadeOut 0.3s both;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 600px;
    height: 650px;
    padding: 60px 80px 0 80px;
    background-color: #FFFEF8;
    border-radius: 10px;
    overflow: auto;
}

#title-modal {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Work Sans';
    color: black;
    margin-bottom: 10px;
}

.grid-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: 102px;
    object-fit: cover;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
    font-size: 10px;
}

.button-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: white;
    border: none;
    font-size: 18px;

}

.button-back {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: white;
    border: none;
    font-size: 18px;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 36px;
    border-radius: 60px;
    border: none;
    color: #FFFEF8;
    font-size: 14px;
    padding: 15px;
    background-color: #1D6154;
    min-width: 100px;
    font-family: 'Syne';
    margin: 30px 0;
}

.add-button.inactive {
    background-color: #A7A7A7;
    position: relative;
    cursor: not-allowed;
}

.add-button.inactive::after {
    content: "Veuillez compléter tous les champs *";
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.add-button.inactive:hover::after {
    opacity: 1;
}

.add-button-content {
    display: flex;
    justify-content: center;
    border-top: 2px solid #B3B3B3;
    margin-top: 40px;
}

.send-button-content {
    display: flex;
    justify-content: center;
    border-top: 2px solid #B3B3B3;
    margin-top: 10px;
}

.custom-file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.custom-file-label i {
    font-size: 70px;
    color: #B9C5CC;
}

.custom-file-label span {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #CBD6DC;
    border-radius: 50px;
    color: #306685;
    font-weight: 500;
    font-family: 'Syne';
    width: fit-content;
    margin: 0 auto;
    font-size: 14px;
}

.upload-content {
    text-align: center;
    height: 170px;
    border-radius: 5px;
    position: relative;
    background-color: #E8F1F6;
    cursor: pointer;
    margin-bottom: 5px;
}

.upload-content p {
    color: #444444;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 15px 0;
}

#upload-image {
    display: none;
}

#add-photo-form {
    display: flex;
    flex-direction: column;
}

#add-photo-form label {
    margin: 1.5em 0 1em 0;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
}

#add-photo-form input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#category {
    appearance: none;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    background-color: white;
}

.preview-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.select-wrapper i {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #6C6C6C;
}

#confirm-popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirm-popup.hidden {
    display: none;
}

.confirm-box {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    border: solid 1px black;
}

.confirm-button {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.confirm-button button {
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}